.progress {
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  text-align: left;

  .header {
    display: flex;
    width: 90%;
    margin: auto;
    height: 36px;
    background-color: #b4cef5;
    border: 1px black solid;
    border-radius: 18px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .info {
      height: fit-content;
      border: 1px black solid;
      margin: auto;
      width: 90%;
  }
}
