.article {
    cursor: pointer;
    border-top: 3px black solid;
    min-height: 75px;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 20px;

    img {
        object-fit: cover;
        object-position: top;
        width: 75px;
        height: 75px;
    }

    .content {
        display: flex;
        margin-left: 20px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: justify;     
        height: 55px;
        margin-bottom: 20px;
        overflow: hidden;   
    }

    &.open .content {
        height: fit-content;
        overflow: inherit;
    }

    .date {
        position: absolute;
        bottom: 10px;
        right: 20px;
        color: #3b3742de;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        
    }
}